.main {
  flex: 1;
  min-height: 100vh;
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  background-size: 800% 800%;
  animation: gradientAnimation 15s ease infinite;
  padding-top: 1vh;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 60px;
  text-align: center;
}

.description {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 16px;
}
